

body{
  background-color: #191d28;
  font-family: 'Oswald', sans-serif;
}


.main-heading{
  color: rgb(61, 198, 193);
  padding-top: 10px;
  margin: 20px auto auto 20px;
}

.com{
  color: #fff;
  font-size: 1.2rem;
}

.sub{
  color: gray;
  padding-top: 10px;
  margin: 2px auto auto 20px;
}

.finstreet{
  color: #3dc6c1;
}

.oneOfThree{
  width : 33%;
}

.row{
  display :flex;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
}

.dropdown-toggle{
  background-color:#2e3241;
  border-color:#2e3241;
}

.flex-wrap{
  flex-wrap: wrap;
}

.inline-flex{
  display:inline-flex;
}

.align-items{
  justify-content: center;
  align-items: center;
}

.text-center{
  text-align: center;
  padding: 0;
}

.btn{
  display: inline-block;
  border-radius: 10px;
}

.telegram{
  color :#fff;
  background-color: #3dc6c1;
  margin: 10px;
}


/* slidder in the header */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(61, 198, 193);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2e3241;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ////////////////////////////////////////////////////////////////////////// */


.crypto-table {
  padding-left: 25px;
  padding-right: 25px;
}
.crypto-table td{
  padding-top: 5px;
  padding-bottom: : 20px;
}


.table-responsive{
  display: block;
  width:100%;
  overflow-x: auto;
}

.content-table {
  border-collapse: separate;
  border-spacing: 0 1em;
  width: 100%;
  margin: 25px 0;
  font-size: 1em;
  min-width: 400px;
  color:#fff;
}

thead{
  display: table-header-group;
  vertical-align: middle:baseline;
  color: grey;
  height: 30px;
  font-size: 1.4em;
}

.text-center{
  text-align: center;
}

tbody tr{
  display: table-row;
  vertical-align: inherit;
  background-color: #2e3241;

  font-size: 1.8em;
  border-radius: 10px
}

tr{
  box-sizing: border-box;
}

tbody{
  display:table-row-group;
  vertical-align: middle;
  border-color: inherit;
}


.content-table tbody td:first-child{
  border-radius: 10px 0 0 10px;

}
.content-table tbody td:last-child{
  border-radius: 0 10px 10px 0;
}
